body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins';
  font-size: large;
  color: #ffffff;
}

.menu-bar {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  padding: 8px 16px;
  border-radius: 25px;
  width: fit-content;
  max-width: 90vw;
  box-sizing: border-box;
  margin-top: 20px;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
  }

  li {
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      transition: 0.2s;
      border-radius: 25px;
    }

    &:hover {
      color: black;

      &::before {
        background: linear-gradient(to bottom, #e8edec, #d2d1d3);
        box-shadow: 0 3px 20px 0 black;
        transform: scale(1.2);
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

#background-grid {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* Keep it behind your content */
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Allow clicks to pass through */
  background-color: #3f3f3f; /* dark grey */
}

/*Style for the main Site center content*/
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}
.main-site-content {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  width: fit-content;
  border-radius: 16px;
  padding: 20px;
  gap: 40px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.main-site-left-content {
  flex: 1;
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.main-site-right-content {
  flex: 2;
  padding-left: 20px;
}

.thats-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thats-me h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.thats-me p {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.profile-img {
  height: 256px;
  width: 256px;
  
  border-radius: 50%;
  margin-bottom: 16px;
  object-fit: cover;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 50px;
}

.social-icon {
  width: 64px;
  height: 64px;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.social-icon:hover {
  opacity: 0.6;
}

